html{
    font-family: 'Playfair Display', serif;
}
h1{
    font-family: 'Boogaloo', cursive;
}
.navbar{
    font-family: 'Boogaloo', cursive;
    font-size: 1.2em;
}
.HomeSection{
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    opacity: 0.9;
    font-size: 4rem;
    text-align: center;
    padding-top: 65px;
    font-weight: 300;
}
.highlight{
    color: orange;
}
.button{
    background-color: yellow;
    border-style: solid;
}
.row{
    height: 20vh;
    text-align: center;
}
#aboutRow1{
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#aboutRow3{
    padding-top: 4rem;
}


.contactSection{
    background-image: url(bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

p{
    font-weight: 300;
}
.projectSection{
    height: 100vh;
    background-color: beige;
}
#projectList{
    list-style-type: none;
}
#projectList li{
    padding: 1px;
    padding-top: 50px;
}
.contactSection{
    background-color: darkslategrey;
}
.footerSection{
    background-color: aliceblue;
}

.custom{
    width: 78px;
}
#projectRow1{
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#btn{
    transition: all 0.25s;
    background-color: black;
    opacity: 0.9;
    font-family: 'Boogaloo', cursive;
}
#btn:hover{
    background-color: orange;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translatey(-0.25em);
    
}

#cards{
    color: black;
    background-color: #B4C6DD;
    padding: 4em;
}


@media screen and (max-width: 600px) {
    .projectSection {
      height: 110vh;
    }
  }

